@import './node_modules/elemental/less/elemental.less';
.app{
    margin:10px;
    padding: 10px;
}
.form{
    margin-bottom: 10px;
}
.Button{
    border: none;
    color: #fff;
    text-decoration: none;
    background: #4389a2;
    cursor: pointer;
    padding: 10px 30px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    position: relative;
    letter-spacing: 0;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font: bold 14px/1.2em 'Open Sans', sans-serif;
    &:hover,&:active,&:focus{
        color: #fff !important;
        background: #5695ab;
        border-color: #fff;
        box-shadow: none;
    }
}
input{
    margin: 0;
    padding: 6px 6px 7px 6px;
    width: 100%;
    height: 30px;
    line-height: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: none;
    color: rgb(200, 203, 207);
    text-decoration: none;
    position: relative;
    font-weight: 600;
    height: 50px;
    box-shadow: none;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    transition: all 0.3s;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgb(169, 202, 214) !important;
}
input[type="text"],input[type="email"],input[type="password"]{
    height: 50px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin: 0px;
}

